.App {
  text-align: center;
  margin-top: 15px;
}

input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #3498db;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.student-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.list {
  border: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}

ul li {
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

ul li:last-child {
  margin-bottom: 0;
}

.btn {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
h2 {
  color: rgb(24, 170, 158);
}
